.main{
    text-align: center;
    margin:20px;
    padding:25px;
}

.calci{
    align-content: center;
    text-align: center;
    padding:15px;
    margin:20px;
    margin-left:600px;
    border:2px solid black;
    height: 300px;
    width: 200;
    background-color: antiquewhite;
}

.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:inherit;
}
.display{
    background-color: gray;
    color: white;
    width:180px;
    height:40px;
    align-items: center;
    padding:10px;
    margin:10px;
    border-color: gray;

}
.buttons{
    background-color: black;
    color:white;
    width:40px;
    padding:10px;
}

.line{
    margin:4px;
}